__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.pytest_cache/

# Local envs
.venv/
venv/
.env/
.env
.env.example

# Caches
/models/
/embeddings_cache/
*.npz

# Tests (optional)
tests/

# OS / editor
.DS_Store
.vscode/
.idea/

# Other
/benchmarking_suite/
/data_and_model_export/
/storage/
/data/
